{% extends 'index.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h3>Total employeers: {{ total_employees }}</h3>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Full Name</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Superuser</th>
  </tr>
  </thead>
  {% for employee in employees_list %}
  <tbody>
  <tr>
    <th scope="row">{{ employee.id }}</th>
    <td>{{ employee }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.role }}</td>
    <td>{{ employee.is_superuser }}</td>
  </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}